{% extends 'base.html.twig' %}

{% block head %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{{ asset('images/game/favicons/zee-ball-16x16.png') }}" sizes="16x16">
    <link rel="apple-touch-icon" sizes="152x152" type="image/png" href="{{ asset('images/game/favicons/zee-ball-43x43.png') }}" sizes="43x43">
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/game/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/game/main.css') }}">

{% endblock %}
{% block javascripts %}

    <script src="{{ asset('js/game/vendor/modernizr-2.6.2.min.js') }}"></script>

{% endblock %}

{% block body %}
    {% include('components/navbar.html.twig') %}

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% include('components/returnhome.html.twig') %}
    <div id="zee-game">
    
        <!-- game objects -->
        <div class="goal-keeper standing" id="goal-keeper-state-1"></div>
        <div class="goal-keeper left-jump" id="goal-keeper-state-2"></div>
        <div class="goal-keeper right-jump" id="goal-keeper-state-3"></div>
        <img id="zee-ball" src="{{ asset('images/game/zee-ball.png') }}" width="43" height="43"/>
        <canvas id="kickAnimation"></canvas>

        <!-- modals -->
        <div id="modal-1" class="pop-up">Click to fix vertical direction</div>
        <div id="modal-2" class="pop-up">Click to fix horizontal direction</div>
        <div id="modal-3" class="pop-up">Click to adjust power and kick</div>
        <div id="modal-4" class="pop-up">Click to try again</div>
        <div id="modal-5" class="pop-up">Goal!</div> 
        <div id="modal-6" class="pop-up">Go on, give it another shot</div>
        <div id="modal-7" class="pop-up">Congrats! You won!</div>
        <input type="hidden" value="{{ nbBalls }}" id="nbTir">

        <!-- control meters -->
        <div id="vertical-direction"></div>
        <div id="vertical-direction-indicator" class="small-ball one-end"></div>
        <div id="horizontal-direction"></div>
        <div id="horizontal-direction-indicator" class="small-ball one-end"></div>
        <div id="power-level"></div>
        <div id="power-level-indicator" class="small-ball one-end"></div>

        <!-- scoring -->
        <ul id="score-board">
            {% for i in 1..nbBalls %}
            <li><img src="{{ asset('images/game/zee-ball.png') }}" width="32" height="32"></li>

            {% endfor %}

        </ul>

    </div>
    <footer class="footer">
        <div class="footer-one">
            <img src="../images/coca.svg" class="logo"></img>
        </div>
        <div class="footer-deux">
            <p>Game by Adverball's Team</p>
        </div>
    </footer>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script> -->

    <script src="{{ asset('js/game/vendor/pathAnimator.js') }}"></script>
    <script src="{{ asset('js/game/main.js') }}"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script> -->
{% endblock %}