{% extends 'base.html.twig' %}

{% block title %}Hello InfoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Bienvenue {{ firstName }}</h1>

    <p>
        Nous vous proposons sur ce site des contenus et des promotions à propos des marques, des produits et des activités des sociétés du groupe The Coca‑Cola Company ou de ses partenaires embouteilleurs en France, notamment Coca‑Cola European Partners.
        Vous pourrez notamment y trouver des informations ou des actualités à propos des marques de The Coca‑Cola Company, consulter des contenus exclusifs, répondre à des questionnaires ou participer à des operations promotionnelles qui vous seront proposées par nous ou par nos partenaires et notamment par la société Coca‑Cola European Partners (qui vous proposera par exemple des jeux en magasins, ou des bons de reduction).
    </p>

    <h2>Grâçe à notre grand jeu EURO2020&#174; et Coca-Cola&#174;  gagner des milliers de lots ! </h2>

    <p>Comment faire me direz vous ? hé bien c'est très simple :</p>
    <ul>
        <li>
            Rendez-vous a cette adresse pour vous inscrire, en replissant tout les champs vous obtiendrez 2 ballons à jouer !
        </li>
        <li>
            si vous êtes déjà inscrit(e) votre nombre de ballon s'affiche ici : {{ nbBalls }}
        </li>

        <li>
            <p>Gagnez des ballons en plus en répondant à des questions sur vos boissons préferés </p>
            <a href="{{ path('favorite_brand_new') }}" class="btn btns offset-4 col-4 text-center" > Gagner deux ballons en plus </a>
        </li>
        <li>
            <p>Gagnez des ballons en plus en répondant à des questions concernant la consommation de votre famille </p>
            <a href="{{ path('family_new') }}" class="btn btns offset-4 col-4 text-center"> Gagner deux ballons en plus </a>
        </li>




        <li>
            comment jouer ? c'est tres simple suivez le plan si dessous :
        </li>
    </ul>

    <img src="../images/modedemplois.jpg" alt="coca-foot" class="img-cadeaux">

    <ul>
        <li>
            Mode emplois du jeu:
        </li>
        <li>
           <strong>A</strong>: il s'agit de l'axe haut bas dans quel direction vous voulez que votre ballon parte, permier clic gauche sur le jeu pour effectuer le reglage
        </li>
        <li>
            <strong>B</strong>: il s'agit de l'axe droite à gauche dans quel direction vous voulez que votre ballon parte, second clic gauche
        </li>
        <li>
            <strong>C</strong>:il s'agit de la puissance de votre tire, votre troisième clic gauche
        </li>
        <li>
            <strong>D</strong>: il s'agit du gardien de but, notre meilleur bouteille, saurez vous la battre ?
        </li>
        <li>
            <strong>E</strong>: nombre de ballon dont vous disposer, il s'éclaireront si vous marquer un but !
        </li>
        <li>
            le terme des lots à gagner reste à déterminer à ce stade du projets.
        </li>
    </ul>
    <div>
        <a href="{{ path('game') }}"class="btn btns offset-4 col-4 text-center">À vous de jouer</a>
    </div>



</div>
{% endblock %}
