{{ form_start(form) }}


<div >
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    <hr>
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
</div>
<div class="row">
    <div class="col-6">
        {{ form_row(form.age) }}
    </div>
    <div class="col-6 ">
        {{ form_row(form.gender) }}
    </div>
</div>
<hr>
<div>
    {{ form_row(form.qtl) }}
</div>


<button class="btn btns btn-outline-success ">{{ button_label|default('Je participe') }}</button>
{{ form_end(form) }}
